openapi: 3.0.0
info:
  version: 0.0.1
  title: Health Information Provider
  description: >
    Clinical establishments which generate or store customer data in digital form. 
    These include hospitals, primary or secondary health care centres, nursing homes, 
    diagnostic centres, clinics, medical device companies and other such entities 
    as may be identified by regulatory authorities from time to time.

servers:
  - url: https://localhost:8001
    description: Dev

tags:
  - name: discovery
  - name: link

paths:
  /patients/discover/:
    post:
      tags:
      - discovery
      summary: Discover patient's accounts
      description: >
        Return only one patient record with (potentially masked) associated care contexts
          1. **At least one of the verified identifier matches.**
          2. **Filter out records using unverified, firstName, secondName, gender and dob
          if there are more than one patient records found from step 1.**
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      requestBody:
        content:
          application/json:
            required: true
            schema:
              $ref: '#/components/requestBodies/PatientDiscovery'
          application/xml:
            required: true
            schema:
              $ref: '#/components/requestBodies/PatientDiscovery'
      responses:
        '200':
          description: A patient record with one or more care contexts
          schema:
            $ref: '#/components/responses/PatientDiscovery'
        '400':
          description: >
            **Causes:**
              * Empty verified identifiers.
              * Format mismatch of any of attributes.
                | type   | Format/Allowed Values|
                | ------- | ----------------    |
                | dateOfBirth     | dd-mm-yyyy  |
                | gender  | M/F/O |
                | MOBILE  | valid mobile number with proper country code |

          schema:
            $ref: '#/components/responses/Error'
        '404':
          description: >
            **Causes:**
              * No matching patient record found for the given identifiers.
              * There are more than one definitive match for a given request.
          schema:
            $ref: '#/components/responses/Error'
        '500':
          description: >
            **Causes:**
              * Downstream system(s) is down.
              * Unhandled exceptions.
          schema:
            $ref: '#/components/responses/Error'

  /patients/link/:
    post:
      tags:
      - link
      summary: Link patient's care contexts
      description: >
        Links care contexts associated with only one patient
          1. **Validate account reference number and care context reference number**
          2. **Before linking, HIP needs to authenticate the request with the patient(Ex: OTP verification)**
          3. **Communicate the mode of authentication of a successful request with HDAF**
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      requestBody:
        content:
          application/json:
            required: true
            schema:
              $ref: '#/components/requestBodies/PatientLinkReference'
          application/xml:
            required: true
            schema:
              $ref: '#/components/requestBodies/PatientLinkReference'
      responses:
        '200':
          description: A successful link request
          schema:
            $ref: '#/components/responses/PatientLinkReference'
        '400':
          description: >
            **Causes:**
              * Account reference number is invalid
              * Care context reference numbers are invalid
          schema:
            $ref: '#/components/responses/Error'
        '401':
          description: >
            **Causes:**
              * Unauthorized request
          schema:
            $ref: '#/components/responses/Error'
        '500':
          description: >
            **Causes:**
              * Downstream system(s) is down.
              * Unhandled exceptions.
          schema:
            $ref: '#/components/responses/Error'

  /patients/link/{linkRefNumber}:
    post:
      tags:
      - link
      summary: Authenticates the token submitted by HDAF and links the account if authentication is successful.
      description: >
        Returns a list of linked care contexts with patient reference number.
          1. **Validate linked account reference number**
          2. **Validate if the token sent from HDAF is same as the one generated by HIP**
          3. **Verify whether same HDAF which made the link request is sending the token**
          4. **Returns a list of unmasked linked care contexts with patient reference number**
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      requestBody:
        content:
          application/json:
            required: true
            schema:
              $ref: '#/components/requestBodies/PatientLink'
          application/xml:
            required: true
            schema:
              $ref: '#/components/requestBodies/PatientLink'
      responses:
        '200':
          description: List of linked care contexts of a patient with patient reference number
          schema:
            $ref: '#/components/responses/PatientLink'
        '400':
          description: >
            **Causes:**
              * Link reference number is invalid
              * Token is invalid
          schema:
            $ref: '#/components/responses/Error'
        '401':
          description: >
            **Causes:**
              * Token is expired
          schema:
            $ref: '#/components/responses/Error'
        '500':
          description: >
            **Causes:**
              * Downstream system(s) is down.
              * Unhandled exceptions.
          schema:
            $ref: '#/components/responses/Error'

components:
  requestBodies:
    PatientDiscovery:
      type: object
      properties:
        verifiedIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          xml:
            name: verifiedIdentifiers
            wrapped: true
        unverifiedIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          xml:
            name: unverifiedIdentifiers
            wrapped: true
        firstName:
          type: string
          example: "chandler"
        lastName:
          type: string
          example: "bing"
        gender:
          type: gender
          enum: [M, F, O]
        dateOfBirth:
          type: string
          format: date
      xml:
        name: PatientDiscovery

    PatientLinkReference:
      type: object
      properties:
        patientReferenceNumber:
          type: string
        careContexts:
          type: array
          items:
            $ref: '#/components/schemas/CareContext'
          xml:
            name: careContexts
            wrapped: true
      xml:
        name: PatientLinkRequest

    PatientLink:
      type: object
      properties:
        token:
          type: string
      xml:
        name: PatientLink

  responses:
    PatientDiscovery:
      type: object
      properties:
        patient:
            $ref: '#/components/schemas/PatientRepresentation'
      xml:
        name: PatientDiscovery

    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'

    PatientLinkReference:
      type: object
      properties:
        linkReference:
            $ref: '#/components/schemas/LinkReference'
      xml:
        name: PatientLinkReference

    PatientLink:
      type: object
      properties:
        patient:
            $ref: '#/components/schemas/Patient'
      xml:
        name: PatientLink

  schemas:
    Identifier:
      type: object
      required:
      - type
      - value
      properties:
        type:
          type: string
          enum: [MOBILE, MR]
        value:
          type: string
          example: "+919800083232"
      xml:
        name: Identifier

    PatientRepresentation:
      type: object
      required:
      - referenceNumber
      - display
      - careContexts
      properties:
        referenceNumber:
          type: string
        display:
          type: string
        careContexts:
          type: array
          items: 
            $ref: '#/components/schemas/CareContextRepresentation'
      xml:
        name: PatientRepresentation

    CareContextRepresentation:
      type: object
      required:
      - referenceNumber
      - display
      properties:
        referenceNumber:
          type: string
        display:
          type: string
      xml:
        name: Tag

    Error:
      type: object
      required:
      - statusCode
      - errorMessage
      properties:
        code:
          type: integer
          enum: []
        message:
          type: string
      xml:
        name: Error

    LinkReference:
      type: object
      required:
      - referenceNumber
      - authenticationType
      properties:
        referenceNumber:
          type: string
        authenticationType:
          type: string
          enum: ['DIRECT', 'MEDIATED']
        meta:
          type: object
          $ref: '#/components/schemas/meta'
      xml:
        name: LinkReference


    meta:
      type: object
      required:
      - mode
      - value
      properties:
        mode :
          type: string
          enum: ['M0BILE', 'EMAIL']
        value:
          type: string
      xml:
        name: meta

    CareContext:
      type: object
      required:
      - referenceNumber
      properties:
        referenceNumber:
          type: string
      xml:
        name: CareContext


    Patient:
      type: object
      required:
      - referenceNumber
      - careContexts
      properties:
        referenceNumber:
          type: string
        careContexts:
          type: array
          items:
            $ref: '#/components/schemas/CareContextRepresentation'
      xml:
        name: Patient
